@import './theme.scss';

.cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#card {
  width: 240px;
  height: 336px;
  position: relative;
  border: 1px solid $cdt-black;
  border-radius: 20px;
  overflow: hidden;
  background-repeat: repeat;
  box-shadow: 0 0 10px $cdt-black-shadow;
}

.card-tint {
  position: absolute;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

.card-back {
  position: absolute;
  align-self: center;
  background-size: 120%;
  background-repeat: no-repeat;
  opacity: 0.95;
  left: -10%;
  bottom: 25%;
  top: 15%;
  right: 0;
}

.card-back-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(-10deg);
  position: absolute;
  width: 100%;
  bottom: 45%;
  top: 32%;
  left: -5%;
  right: -5%;
}

.card-back-header > h2 {
  margin-left: 60%;
  color: $cdt-white;
  font-size: 235%;
  text-shadow: 1px 1px $cdt-black-shadow;
  font-weight: 700;
  width: 100%;
}

.card-back-header > h2:first-child {
  text-indent: -10%;
  margin-bottom: -4%;
}

.card-back-header > h2:last-child {
  text-indent: 10%;
}

.card-image {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  z-index: 1;
}

.card-symbol {
  position: absolute;
  width: 25%;
  top: 2.5%;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 0;
}

.card-abilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  position: absolute;
  width: 115%;
  height: 15%;
  bottom: 0;
  left: -15%;
  right: 0;
  top: auto;
  background-repeat: no-repeat;
  background-size: 105% 95%;
  padding: 0;
  z-index: 2;
  padding-top: 5%;
  padding-bottom: 5%;
  opacity: 90%;
}

.card-abilities > li {
  font-size: 80%;
  color: $cdt-white;
  text-indent: -5%;
  padding-left: 24%;
  padding-right: 4%;
  margin: 0;
  text-shadow: 0.25px 0.25px 0px $cdt-white-shadow;
}

.card-abilities > li:last-child:not(:first-child) {
  padding-top: 2.5%;
}

.card-header {
  position: absolute;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  right: 2.5%;
  top: 5%;
  bottom: auto;
  left: auto;
  font-size: 285%;
  text-shadow: 0.25px 0.25px 0.5px $cdt-black-shadow;
  font-weight: 700;
  z-index: 0;
  writing-mode: vertical-lr;
}

#card.captain .card-tint { background-color: $cdt-blue }
#card.duke .card-tint { background-color: $cdt-purple }
#card.ambassador .card-tint { background-color: $cdt-green }
#card.contessa .card-tint { background-color: $cdt-red }
#card.assassin .card-tint { background-color: $cdt-black }

#card.face-down .card-tint { background-color: $cdt-blue; opacity: 0.6; }

#card.captain .card-header { color: $cdt-blue }
#card.duke .card-header { color: $cdt-purple }
#card.ambassador .card-header { color: $cdt-green }
#card.contessa .card-header { color: $cdt-red }
#card.assassin .card-header { color: $cdt-black }
