@import './theme.scss';

.turn-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.turn-control-list-item {
  width: 50px;
  height: 50px;
  position: relative;
  padding: 0;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid $cdt-black;
  box-shadow: 0 0 5px $cdt-black-shadow;
}

.turn-action-icon {
  width: 90%;
  height: 90%;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-radius: 30px;
}

.turn-control-list-item .tooltip-text {
  visibility: hidden;
  width: 300%;
  height: 75%;
  background-color: $cdt-black;
  color: $cdt-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 110%;
  opacity: 0.9;
  box-shadow: 0 0 5px $cdt-white-shadow;
}

.turn-control-list-item:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text > p:first-child {
  font-weight: 700;
  font-size: 90%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.tooltip-text > p:last-child {
  font-size: 75%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

