

#game {
  padding-top: 3%;
  width: 100%;
  height: 100%;
  min-height: 775px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#player-one > .player-name {
  position: absolute;
  top: -10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  right: auto;
  bottom: auto;
  width: 90%;
  height: 10%;
}
#player-two > .player-name {
  position: absolute;
  top: auto;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  right: auto;
  bottom: -7%;
  width: 90%;
  height: 10%;
}

.player-name > h1 {
  font-size: 225%;
  font-weight: 700;
  transform: rotate(-2deg);
  text-shadow: 1px 1px $cdt-black;
}

#player-two > .player-name > h1 { color: $cdt-blue }
#player-one > .player-name > h1 { color: $cdt-red }

#player-one {
  position: absolute;
  top: 5%;
  bottom: auto;
  left: 25%;
  right: auto;
  display: flex;
  width: 45%;
  flex-direction: row;
  justify-content: center;
  margin-left: -10%;
  margin-bottom: -13%;
  padding-bottom: 1.25%;
  border-bottom: 2px solid $cdt-black-shadow;
}

#player-two {
  position: absolute;
  top: auto;
  bottom: 5%;
  left: 25%;
  right: auto;
  display: flex;
  width: 45%;
  flex-direction: row;
  justify-content: center;
  margin-left: -10%;
  margin-top: -13%;
  padding-top: 1.25%;
}

#court {
  position: absolute;
  right: -20%;
  top: 50%;
  bottom: 50%;
  left: auto;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 70%;
}

.all-cards {
  position: relative;
}

.discard-pile {
  position: absolute;
  transform: scale(0.4);
  bottom: 75%;
  left: -1000%;
  display: flex;
}

.player-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
}

#player-one .player-cards { align-items: flex-end; }
#player-two .player-cards { align-items: flex-start; }

.player-coins {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 86px;
  max-height: 336px;
  flex-wrap: wrap;
}

#player-two .player-coins {
  justify-content: flex-end;
}

.treasury {
  position: relative;
  margin-right: 1%;
}

.coin {
  width: 40px;
  height: 43px;
  background-size: 100% 100%;
  transition: all .2s ease-in-out;
}

.coin:hover {
  transform: scale(1.05);
}

.player-coins .coin {
  width: 80px;
  height: 86px;
  background-size: 100% 100%;
}

#game-controls {
  position: absolute;
  left: 7%;
  top: 25%;
  bottom: 25%;
  height: 50%;
  right: auto;
}

#game-controls > ul {
  display: flex;
  flex-direction: column;
}

.modal-block-challenge {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

.game-log-hover-trigger {
  width: 50px;
  height: 50px;
  background-color: gray;
}

.game-log-hover-trigger > .game-log {
  visibility: hidden;
  position: absolute;
  list-style: none;
}

.game-log-hover-trigger:hover > .game-log {
  visibility: visible;
}