$cdt-green: #4C9870;
$cdt-red: #9b332a;
$cdt-blue: #376171;
$cdt-yellow: #DAA641;
$cdt-purple: #8A317B;
$cdt-black: #161C1D;
$cdt-white: #FFFDF4;
$cdt-blue-gray: rgba(47, 80, 92, 0.5);
$cdt-blue-gray-border: rgb(30, 45, 50, 0.6);
$cdt-blue-gray-modal: rgb(55, 97, 113, 0.5);
$cdt-black-shadow: rgba(22, 28, 29, 0.75);
$cdt-black-modal: rgba(22, 28, 29, 0.4);
$cdt-black-tooltip: rgba(22, 28, 29, 0.9);
$cdt-white-shadow: rgba(255, 253, 244, 0.75);
$cdt-red-shadow: rgba(155, 51, 42, 0.25);
$cdt-blue-shadow: rgba(55, 97, 113, 0.25);