$cdt-green: #4C9870;
$cdt-red: #9B332A;
$cdt-blue: #376171;
$cdt-yellow: #DAA641;
$cdt-purple: #8A317B;
$cdt-black: #161C1D;
$cdt-white: #FFFDF4;
$cdt-black-shadow: rgba(22, 28, 29, 0.75);
$cdt-white-shadow: rgba(255, 253, 244, 0.75);