#tutorial-veil {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.001);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

div[id^=tutorial-tip-] {
  position: absolute;
  z-index: 100;
  background-color: $cdt-black-tooltip;
  color: $cdt-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0 0 5px $cdt-white-shadow;
  & * { z-index: 100 }
  &>p {
    font-size: 100%;
    color: $cdt-white;
    text-align: center;
    text-shadow: 0px 0px 1px $cdt-white-shadow;
    font-weight: 700;
    padding: 0 2%;
    &:not(:first-child) {
      font-style: italic;
    }
  }
  &>div#tutorial-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    &>button {
      background-color: $cdt-white;
      border: none;
      height: 30px;
      text-shadow: 0.25px 0.25px $cdt-white;
      color: $cdt-blue;
      box-shadow: 0 0 5px $cdt-blue;
      font-weight: 700;
      font-size: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $cdt-blue;
        color: $cdt-white;
        box-shadow: 0 0 5px $cdt-white-shadow;
      }
      &:first-child {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 160px;
        &:not(:last-child) { border-left: 1px solid $cdt-blue; width: 80px; }
      }
      &:last-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        width: 160px;
        &:not(:first-child) { border-right: 1px solid $cdt-blue; width: 80px; }
      }
    }
  }
}

div[id^=tutorial-tip-].right::after {
  content: " ";
  position: absolute;
  left: 103.5%;
  top: 45%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent $cdt-black-tooltip;
}

div[id^=tutorial-tip-].left::after {
  content: " ";
  position: absolute;
  right: 100%;
  top: 45%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent $cdt-black-tooltip transparent transparent;
}

div[id^=tutorial-tip-].bottom::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: $cdt-black-tooltip transparent transparent transparent;
}

div[id^=tutorial-tip-].top::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent $cdt-black-tooltip transparent;
}

.darkened {
  filter: grayscale(0.6) brightness(0.8);
}

.spotlit {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#tutorial-tip-1 {
  right: 27.5%;
  left: auto;
  top: 27.5%;
  bottom: auto;
  width: 12.5%;
  height: 18%;
}

#tutorial-tip-2 {
  right: auto;
  left: 7.5%;
  bottom: auto;
  top: 52%;
  width: 40%;
  height: 10%;
}

#tutorial-tip-3 {
  right: auto;
  left: 15%;
  top: 5%;
  bottom: auto;
  width: 10%;
  height: 35%;
}

#tutorial-tip-4 {
  right: auto;
  left: 7.5%;
  top: auto;
  bottom: 52%;
  width: 40%;
  height: 7.5%;
}

#tutorial-tip-5 {
  right: auto;
  left: 15%;
  bottom: 10%;
  top: auto;
  width: 12.5%;
  height: 30%;
}

#tutorial-tip-6 {
  right: auto;
  left: 23.25%;
  top: auto;
  bottom: 52%;
  width: 26.9%;
  height: 12.5%;
}

#tutorial-tip-7 {
  right: auto;
  left: 9.25%;
  top: auto;
  bottom: 52%;
  width: 19%;
  height: 15%;
}